.feed-box {
  .card-post {
    margin-top: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #727171;
    border-radius: 10px;
    min-width: 250px;
    max-width: 500px;
    .card-post_admin {
      background-color: rgb(223, 172, 172);
      border: 4px solid rgb(219, 141, 141);
      &_likeComment {
        align-items: baseline;
      }
    }
    .card-post_users {
      background-color: rgb(221, 218, 218);
    }
  }
}
