.newpost {
  .newpost-news {
    background-color: rgb(221, 218, 218);
    border-radius: 30px;
    &_image {
      width: 200px;
      height: 250px;
    }
    &_likeComment {
      align-items: baseline;
    }
  }
  .newpost-news-admin {
    background-color: rgb(223, 172, 172);
    border: 4px solid rgb(219, 141, 141);
    border-radius: 30px;
    &_likeComment {
      align-items: baseline;
    }
  }
  .newpost-image_profile {
    height: 50px;
    width: 50px;
  }
  .newpost-comments {
    &_form {
      &--image {
        height: 30px;
        width: 30px;
      }
    }
  }
}
