.newcomment_content {
  border-top: 1px solid black;
}
.comments-box_newcomment {
  border-bottom: 1px solid black;
}
.newcomment_content-box_admin {
  background-color: rgb(223, 172, 172);
}
.newcomment_content-box_user {
  background-color: rgb(221, 218, 218);
}
