.newpost {
  .newpost-news {
    background-color: rgb(221, 218, 218);
    border-radius: 30px;
    width: 550px;
    height: 240px;
    &_likeComment {
      align-items: baseline;
    }
  }
  .newpost-image_profile {
    height: 50px;
    width: 50px;
  }
  .newpost-comments {
    &_form {
      &--image {
        height: 30px;
        width: 30px;
      }
    }
  }
  .newpost-comments_form--image {
    height: 30px;
    width: 30px;
  }
  form > img {
    height: 30px;
    width: 30px;
  }
}
